@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<h2>Forgot Password</h2>
<p> Le llegara un Correo electronico con las instrucciones para restablecer la contraseña </p>
<p>Si no recibe el Correo, espere es posible que demore algunos minutos</p>

<a asp-action="Index" asp-controller="Home">Return to Home</a>
