@model ProyectoHsj_alpha.ViewsModels.ForgotPasswordViewModel

@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<h2>@ViewData["Title"]</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Send Password Reset Link</button>
</form>

<div>
    <a  asp-controller= "Home" asp-action="Index">Back to Login</a>
</div>