@{
    ViewData["Title"] = "Reset Password Confirmation";
}

<h2>Contraseña restablecida</h2>
<p>Su contraseña ha sido restablecida correctamente.</p>

<a asp-action="Login" asp-controller="Acces">Click aqui para volver al login</a>
